<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat Code Coverage">
				<Configuration>
					<Format>lcov</Format>
					<CodeCoverage>
						<Sources>
							<Exclude>
								<Source>**/Program.cs</Source>
								<Source>**/Migrations/*</Source>
								<Source>**/Startup.cs</Source>
								<Source>**/Extensions/**</Source>
								<Source>**/BillChopContext.cs</Source>
								<Source>**/BillChopConfig.cs</Source>
								<Source>**/JwtConfig.cs</Source>
							</Exclude>
						</Sources>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>